.img-container{
    border: solid red;
}

.info-container{
    border: solid blue;
}

.fullpage{
    display: flex;
    flex-direction: row;
    border:solid black;
    height: 40vh;
}

.char-img{
    height : 40vh;
}

.username{
    font-style:oblique;
}

.commentsBox{
    height:440px;
    /* background-color:#CCC; */		
    overflow-y:auto;
    position:relative;
}

body{
    background-color: burlywood;
}

.inputBox{
    width: 90vw;
    height : 20px;
}